.wrapperCard {
  width: 320px;
  height: auto;
  border: 2px solid #0b5ed7;
  background-color: aliceblue;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: red;
  color: aliceblue;
}


.contentCard {
    padding: 10px;

  }
  

.tagCard {

    background-color: green;
    color: white;
    position: absolute;
    top: 0;
    left: 0px;
    margin: 10px;
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 5px;

  
}
  

.imgCard{
    border-radius: 10px 10px 0 0;
    width: 100%;
}


.nameCard{
    font-weight: 800;
    font-size: 1.5rem;
    text-align: left;

}


.button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;

}

.button:focus {
  outline: none;
}

.button-favorite {
  color: #ff0000; /* Color del corazón lleno */
}

.button-unfavorite {
  color: #ffffff; /* Color del corazón vacío */
}
