
p {
  display: block;
  margin-block-start: .5px;
  margin-block-end: .5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-decoration: none;
}






.wrapperCard {
  width: 320px;
  height: auto;
  background-color: #87F54E;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  position: relative;
}


/* .wrapperCard {
  background-color: #87F54E;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
} */

.btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: red;
  color: aliceblue;
}


.contentCard {
    padding: 10px;

  }
  

.tagCard {
    background-color: green;
    color: white;
    position: absolute;
    top: 0;
    left: 0px;
    margin: 10px;
    padding: 5px 5px;
    font-size: 15px;
    border-radius: 5px;
}
  

.imgCard{
    border-radius: 10px 10px 0 0;
    width: 100%;
}


.nameCard {
  font-size: 20px;
  margin-bottom: 5px;
}


.button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:focus {
  outline: none;
}

.button-favorite {
  color: #ff0000; /* Color del corazón lleno */
}

.button-unfavorite {
  color: #ffffff; /* Color del corazón vacío */
}

