
.inputBar{
  background-color: #fff;


}


.input {
  width: 40%;
  border: 2px solid #0b5ed7;
  border-radius: 8px;
  padding: 10px 15px;

}



.btnInput {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
  padding: 10px 15px;
  border-radius: 8px;
  
}
