.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .wrapperlink {
    display: flex;
  }
  
  .link {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .link:hover {
    color: #666;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
  }
  
  .input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .btnInput {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .btnInput:hover {
    background-color: #666;
  }
  