.navBar {
  background-color: transparent;
  text-align: center;
  padding: auto;
  padding: 20px 20px;
  
}

.wrapperlink {
  display: flex;
  justify-content: center;
}

.link {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
